
.home-big-container {
    padding: 40px;
    background-color: #333;
    min-height: 100vh;
}

.light-mode {
    background-color: #f5f5f5;
}

.home-container {
    text-align: center;
    padding: 40px;
    background-color: #333;
    color:#fff;
    min-height: 100vh;
}

.light-mode .home-container {
    background-color: #f5f5f5;
    color: #333;
}
  
.light-mode .log-in-button {
    background-color: #fff;
    color: #333;
}
  
.home-title {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}
  
.home-link {
    text-decoration: none;
    color: #007bff;
    font-size: 16px;
    margin-bottom: 20px;
}
  
.home-link:hover {
    text-decoration: underline;
}

.home-logo {
    border-radius: 20px;
}

/* All sun/moon styling from https://learnersbucket.com/tutorials/js-projects/day-night-toggle-switch-in-javascript/ */
* {
    box-sizing: border-box;
}

.sun-moon {
    position: absolute;
    width: 50px;
    height: 28px;
    right: 20px;
    top: 20px;
    padding: 2.5px;
    border-radius: 22.5px;
    border: 1.5px solid #fff;
    background-color: #271752;
    overflow: hidden;
    transition: all 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);     
}

.circle {
    border-radius: 50%;
    display: inline-block;
    position: absolute;
}

.small {
    width: 15px;
    height: 15px;
    background: #271752;
    left: 15px;
    top: 2px;
    transition: all 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.large {
    width: 19px;
    height: 19px;
    background: #fff;
    border: 2px solid #fff;
    top: 50%;
    transform: translateY(-50%);
    left: 7px;
    transition: all 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.sun-moon input {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

.move {
    background-color: #fff;
    border-color: #007bff;
}

.move .large {
    left: 25px;
    background: rgb(255, 247, 0);
    border-color: orange;
}

.move .small {
    left: 30px;
    top: 25px;
    background-color: #fff;
}