
.home-big-container {
    padding: 40px;
    background-color: #333;
    min-height: 100vh;
}

.light-mode {
    background-color: #f5f5f5;
}

.home-container {
    text-align: center;
    padding: 40px;
    background-color: #333;
    color:#fff;
    min-height: 100vh;
}

.light-mode .home-container {
    background-color: #f5f5f5;
    color: #333;
}
  
.light-mode .log-in-button {
    background-color: #fff;
    color: #333;
}
  
.home-title {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}
  
.home-link {
    text-decoration: none;
    color: #007bff;
    font-size: 16px;
    margin-bottom: 20px;
}
  
.home-link:hover {
    text-decoration: underline;
}

.home-logo {
    border-radius: 20px;
}

.dark-mode-button {
    border-radius: 20px;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}