.home-big-container {
    padding: 40px;
    background-color: #f5f5f5;
    min-height: 100vh;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.home-container {
    text-align: center;
    padding: 40px;
    background-color: #f5f5f5;
    min-height: 100vh;
}

.dark-mode .home-container {
    background-color: #333;
    color: #fff;
}
  
.dark-mode .log-in-button {
    background-color: #fff;
    color: #333;
}
  
.home-title {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}
  
.home-link {
    text-decoration: none;
    color: #007bff;
    font-size: 16px;
    margin-bottom: 20px;
}
  
.home-link:hover {
    text-decoration: underline;
}

.home-logo {
    border-radius: 20px;
}
  