ul {
    list-style: none;
}

.playerSearchContainer {
    display: flex;
    justify-content: center;
    
}

.playerStatsContainer {
    width: 250px;  
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 10px;  
    margin-right: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 0.9rem;  /* Reduce the font size slightly */
}

.playerStatsContainer h3 {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 5px;  /* Reduce the padding */
    margin-bottom: 5px;  /* Reduce the margin */
}

/* PlayerSearch.css */

.playerNameBox {
    display: flex;
    align-items: center; /* Vertically aligns the contents */
    border: 1px solid #ccc; /* Adds a border around each name */
    margin-bottom: 5px; /* Some space between each name box */
    padding: 5px; /* Some padding for aesthetic purposes */
}

.playerNameBox span {
    flex-grow: 1; /* This makes the name span take the remaining width */
    margin-left: 10px; /* Some space between the button and the name */
}

.toggleButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px 10px; /* Add some padding to make the button larger */
}
